/* Estilo de la tabla similar al carrito de compras */
.table {
  margin-top: 20px;
  width: 100%;
  text-align: center;
}

.table-responsive {
  overflow-x: auto;
}

.table thead {
  background-color: #343a40;
  color: #fff;
}

.table-bordered th,
.table-bordered td {
  border: 1px solid #dee2e6;
}

.table-dark th {
  border-color: #454d55;
}

.table-secondary {
  background-color: #f8f9fa;
}

.align-middle {
  vertical-align: middle;
}
