<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">

<head th:replace="layout :: commonHead"></head>

<!-- Definir el fragmento con el título y los estilos específicos -->
<th:block th:fragment="headExtras">
  <title th:text="${modo == 'crear' ? 'BazarBoost - Crear Dirección' : 'BazarBoost - Editar Dirección'}"></title>
  <link rel="stylesheet" href="/estilos/base.css">
  <link rel="stylesheet" href="/estilos/base-creacion-edicion.css">
</th:block>

  <body>
    <!-- Incluir el Navbar -->
    <div th:insert="layout :: navbar"></div>

    <div class="container my-4 main-content" id="bodyContainer">
      <h2 class="mb-4" th:text="${modo == 'crear' ? 'Crear Dirección' : 'Editar Dirección'}"></h2>

      <!-- Sección para mensajes de éxito -->
      <div class="alert alert-success d-flex d-none align-items-center" id="success-alert" role="alert">
        <i class="bi bi-check-circle-fill me-2"></i>
        <div></div>
      </div>

      <!-- Sección para mensajes de error -->
      <div class="alert alert-danger d-none" id="warning-danger">
        <i class="bi bi-exclamation-triangle"></i>
        <span id="warning-message"></span>
      </div>

      <!-- Formulario para crear/editar dirección -->
      <form id="direccionForm">
        <div class="mb-3">
          <label for="estado" class="form-label">Estado</label>
          <input
            type="text"
            class="form-control"
            id="estado"
            placeholder="Ingrese el estado"
            required
          />
        </div>
        <div class="mb-3">
          <label for="ciudad" class="form-label">Ciudad</label>
          <input
            type="text"
            class="form-control"
            id="ciudad"
            placeholder="Ingrese la ciudad"
            required
          />
        </div>
        <div class="mb-3">
          <label for="colonia" class="form-label">Colonia</label>
          <input
            type="text"
            class="form-control"
            id="colonia"
            placeholder="Ingrese la colonia"
            required
          />
        </div>
        <div class="mb-3">
          <label for="calle" class="form-label">Calle</label>
          <input
            type="text"
            class="form-control"
            id="calle"
            placeholder="Ingrese la calle"
            required
          />
        </div>
        <div class="mb-3">
          <label for="numero_domicilio" class="form-label"
            >Número de domicilio</label
          >
          <input
            type="number"
            class="form-control"
            id="numero_domicilio"
            placeholder="Ingrese el número de domicilio"
            required
          />
        </div>
        <div class="mb-3">
          <label for="codigo_postal" class="form-label">Código postal</label>
          <input
            type="text"
            class="form-control"
            id="codigo_postal"
            placeholder="Ingrese el código postal"
            required
          />
        </div>

        <!-- Botones de acción -->
        <div id="buttonsContainer" class="d-flex justify-content-between">
          <a href="/direcciones" class="btn btn-secondary">
            <i class="bi bi-arrow-left"></i> Volver a la lista de direcciones
          </a>
          <button type="submit" class="btn btn-primary">
            <i class="bi bi-save"></i> Guardar dirección
          </button>
        </div>
      </form>
    </div>

    <div th:insert="layout :: footer"></div>

    <!-- Scripts comunes -->
    <th:block th:insert="layout :: commonScripts"></th:block>

    <script src="/js/mensajes-estado.js" type="module"></script>
    <script src="/js/crear-editar-direccion.js" type="module"></script>
  </body>
</html>
