<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">

<head th:replace="layout :: commonHead"></head>

<!-- Definir el fragmento con el título y los estilos específicos -->
<th:block th:fragment="headExtras">
  <title th:text="${modo == 'crear' ? 'BazarBoost - Crear Categoría' : 'BazarBoost - Editar Categoría'}"></title>
  <link rel="stylesheet" href="/estilos/base.css">
  <link rel="stylesheet" href="/estilos/base-creacion-edicion.css">
</th:block>

  <body>
    <!-- Incluir el Navbar -->
    <div th:insert="layout :: navbar"></div>

    <div class="container my-4 main-content" id="bodyContainer">
      <h2 class="mb-4" th:text="${modo == 'crear' ? 'Crear Categoria' : 'Editar Categoria'}"></h2>

      <!-- Sección para mensajes de éxito -->
      <div class="alert alert-success d-flex d-none align-items-center" id="success-alert" role="alert">
        <i class="bi bi-check-circle-fill me-2"></i>
        <div></div>
      </div>

      <!-- Sección para mensajes de error -->
      <div class="alert alert-danger d-none" id="warning-danger">
        <i class="bi bi-exclamation-triangle"></i>
        <span id="warning-message"></span>
      </div>

      <!-- Formulario de creación/edición de categoría -->
      <form id="categoriaForm">
        <div class="mb-3">
          <label for="nombre" class="form-label"
            >Nombre de la Categoría</label
          >
          <input
            type="text"
            class="form-control"
            id="nombre"
            placeholder="Introduce el nombre de la categoría"
            maxlength="40"
            required
          />
          <div class="form-text">Máximo 40 caracteres.</div>
        </div>

        <!-- Botones -->
        <div class="d-flex justify-content-between" id="buttonsContainer">
          <a href="/categorias" class="btn btn-secondary">
            <i class="bi bi-arrow-left"></i> Volver a la lista de categorías
          </a>
          <button type="submit" class="btn btn-primary">
            <i class="bi bi-save"></i> Guardar
          </button>
        </div>
      </form>
    </div>

    <div th:insert="layout :: footer"></div>

    <!-- Scripts comunes -->
    <th:block th:insert="layout :: commonScripts"></th:block>

    <script src="/js/mensajes-estado.js" type="module"></script>
    <script src="/js/crear-editar-categoria.js" type="module"></script>
  </body>
</html>
